{% extends "base.html" %}

	{% block script %}
    	<script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
	    <script type="text/javascript" src="{{ static_url('js/jquery-ui.js') }}"></script>
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript" src="{{ static_url('js/stats.js') }}"></script>
	{% end script %}
	
	{% block body %}
	
	<body>
	    <div id="tableChart">
    </div>    
    
   	</body>
	{% end body %}
	
