html, body {
     margin: 0;
     padding: 0;
     height: 100%;
}

#map {
    background: #000;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

button#filterButton {
    position: fixed;
    right: 80px;
    top: 60px;
    width: 120px;
    z-index: 500;
}

button#galleryButton {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 120px;
    z-index: 500;
}
