{% extends "base.html" %}
{% block title %}geotag photos - photomap{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/geotag.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/geotag.js"></script>
    <script>
        window.photos = [];
    </script>
{% endblock %}
{% block body %}
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="photoModalTitle">Image</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center" id="photoModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalTitle">Filter images for manual geotagging</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="filterModalBody">
                    <form>
                        <div class="form-group mt-2">
                            <label for="album">Album</label>
                            <input type="text" class="form-control" id="album" placeholder="Album" disabled>
                        </div>
                        <div class="form-group mt-2">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" placeholder="Input some tags" disabled>
                        </div>
                        <div class="form-group mt-2">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="Input description keywords" disabled>
                        </div>
                        <div class="form-group mt-2">
                            <label for="fromDate">From date</label>
                            <input type="date" class="form-control" id="fromDate" placeholder="Start date">
                        </div>
                        <div class="form-group mt-2">
                            <label for="toDate">To date</label>
                            <input type="date" class="form-control" id="toDate" placeholder="Stop date">
                        </div>
                        <div class="form-group mt-2">
                            <label for="camera">Camera</label>
                            <input type="text" class="form-control" id="camera" placeholder="Input camera keywords" disabled>
                        </div>
                        <div class="form-check mt-2">
                            <input type="checkbox" class="form-check-input" id="clusterToggle" disabled>
                            <label class="form-check-label" for="clusterToggle">Toggle Clustering</label>
                        </div>
                    </form>
                    <!--
                    <div>
                        <div>
                            Position
                            <div>
                                Start <input type="text" title="Input start latitude" id="start_lat" value=""> -
                                <input type="text" title="Input start longitude" id="start_lng" value=""> <br/>
                                Stop <input type="text" title="Input stop latitude" id="stop_lat" value=""> -
                                <input type="text" title="Input stop longitude" id="stop_lng" value="">
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="modal-footer">
                    <button name="button" class="btn btn-success" onClick="filterPhotos()">Filter</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="d-flex"></div>
    <button type="button" class="btn btn-primary" id="filterButton" data-bs-toggle="modal"
            data-bs-target="#filterModal">Filter
    </button>
    <div id="photoList"></div>
{% endblock %}
