{% extends "base.html" %}
{% block title %}Main map - photomap{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src="/static/js/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/map.js"></script>
 <script>
    window.photos = [];
    {% for photo in photos %}
        photos.push({
            "id": {{ photo.id }},
            "ihash": "{{ photo.ihash }}",
            "lat": {{ photo.lat }},
            "lng": {{ photo.lng }},
            "altitude": {{ photo.altitude or 0.0}},
            "moment": new Date({{ photo.moment }} * 1000),
            "filename": "{{ photo.filename }}",
            "size": {{ photo.size }},
            "camera": "{{ photo.make }}" + " " + "{{ photo.model }}",
            "orientation": "{{ photo.orientation }}",
            "path": "{{ photo.path }}",
            "width": "{{ photo.width }}",
            "height": "{{ photo.height }}",
            "description": "{{ photo.description }}"
        });
    {% endfor %}
</script>
{% endblock %}
{% block body %}
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="photoModalTitle">Image</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="photoModalBody">
              <div id="spinner" class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="mapCanvas" class="d-flex"></div>
{% endblock %}
