{% extends "base.html" %}
{% block title %}Main map - photomap{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@5.9.0/dist/maplibre-gl.css" />
    <script src="https://unpkg.com/maplibre-gl@5.9.0/dist/maplibre-gl.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}
{% block body %}
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="photoModalTitle">Image</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center" id="photoModalBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="map" class="d-flex"></div>

    <div id="filter" style="position: absolute; left: 50px; top: 100px; z-index: 888">
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
          Filter
          </a>
        </p>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body" style="width: 320px;">
                <div class="row justify-content-center">
                    <div>
                        <label for="startDate">Start</label>
                        <input id="startDate" class="form-control" type="date" />
                    </div>
                    <div>
                        <label for="endDate">End</label>
                        <input id="endDate" class="form-control" type="date" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="showPhotos">Show photos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
